.overview {
  padding: 1rem;
  &__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  &__head {
    background: #525252;
    color: #fff;
    th {
      padding: .25rem;
      font-weight: lighter;
      text-align: left;
    }
  }

  tbody tr {
    transition: .2s ease-in-out;
  }

  tbody tr:nth-child(2n) {
    background: #eaeaea;
  }

  tbody tr:hover {
    background: #e5e5e5;
  }

  &__field,
  &__buttons {
    border: 1px solid #d5d5d5;
  }

  &__buttons {
    width: 0;
    white-space: nowrap;
  }

  &__button {
    border-radius: .25rem;
    padding: .25rem .5rem;
    border: 1px solid #838383;
    cursor: pointer;
    background: #fff;
    transition: .2s ease-in-out;
  }

  &__button:hover {
    background: #dadada;
  }
  &__button:active {
    background: #b0b0b0;
  }
}

