.overview {

  &__table {
    width: 100%;
    border-spacing: 0;
  }

  &__head {
    background: #525252;
    color: #fff;
    th {
      font-weight: lighter;
    }
  }

  &__field,
  &__buttons {
    border-bottom: 1px solid #525252;
  }

  &__buttons {
    width: 0;
    white-space: nowrap;
  }

  &__button {
    border: none;
    border-radius: .25rem;
    padding: .25rem .5rem;
    background: #eaeaea;
    cursor: pointer;
  }

  &__button:hover {
    background: #dadada;
  }
  &__button:active {
    background: #b0b0b0;
  }
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  padding: .25rem 0;

  &__button {
    border: none;
    border-radius: .25rem;
    padding: .25rem .5rem;
    background: #eaeaea;
    cursor: pointer;
  }

  &__button:hover {
    background: #dadada;
  }
  &__button:active {
    background: #b0b0b0;
  }
}