<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "test/bootstrap.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "true"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>