body.overlay {
  position: relative;
  pointer-events: none;
}

body.overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loader,
.loader:before,
.loader:after {
  position: absolute;
  height: 8px;
  width: 100%;
  z-index: 1;
}

.loader {
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0 0 8px #525252;
  display: none;
}

.loader:before,
.loader:after {
  content: '';
  animation: loading 4s infinite ease-in-out;
  transform: translate3d(-100%, 0, 0);
  background: #525252;
}

.loader:after {
  animation-delay: 2s;
}

html.loading .loader {
  display: block;
}

@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

[data-event]:not(button, tr, td) {
  cursor: pointer;
}

td[data-event] {
  cursor: pointer;
}

[data-event]:hover {

}

[data-title] {
  position: relative;
}

[data-title]:before {
  content: attr(data-title);
  position: absolute;
  opacity: 0;
  bottom: 110%;
  left: 0;
  background: #000000bb;
  color: #ffffff;
  box-shadow: 2px 2px 10px #00000099;
  border: 1px solid #ffffff99;
  padding: .25rem .5rem;
  border-radius: .5rem;
  pointer-events: none;
  transition: opacity .2s ease-in-out;
  z-index: 2;
}


[data-title]:hover:before {
  opacity: 1;
}

div.winbox.modern {
  background: rgba(0, 73, 182, 0.77);
  backdrop-filter: blur(5px);
  border-radius: 12px 12px 0 0;
  animation: popup .3s cubic-bezier(.3, 1, .3, 1) backwards;
}

div.winbox.modern .wb-body {
  color: unset;
  background: #fff;
  display: flex;
}

@keyframes popup {
  0% {
    transform: scale(.8)
  }
  to {
    transform: scale(1)
  }
}