.detail {
  padding: 1rem;
  &__chapter {
    &__name {
      width: 100%;
      font-weight: 600;
      padding: .25rem 0;
      margin: .25rem 0;
      border-bottom: 1px solid #bbb;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
  }

  &__group:focus-within {
    outline: 1px solid #000;
  }

  &__group {
    padding: .25rem .5rem;
    margin-bottom: 1rem;

    &__name {
      position: relative;
      margin: 0 0 .5rem;
      padding-left: 1rem;
    }

    &__name:not(:empty):before {
      content: '';
      position: absolute;
      width: 10px;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #939393;
    }

    &__content {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}