* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #eeeeee;
}

header {
  background: transparent;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #00000099;
}

main {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.hidden {
  display: none !important;
}
