html,
body {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background: transparent;
  display: flex;
  flex-direction: column;
}

main {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.hidden {
  display: none !important;
}
