.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .25rem 0;

  &__button {
    border-radius: .25rem;
    border: none;
    padding: .5rem 1rem;
    background: #006ec7;
    color: #fff;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  &__button:focus,
  &__button:hover {
    background: #007ce3;
    box-shadow: 0 1px 4px 1px #77777788;
  }

  &__button:active {
    background: #008dff;
  }
}