.number {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .25rem;

  &__input {
    display: inline-flex;
    gap: .25rem;
  }

  &__decrease,
  &__increase {
    border: none;
    border-radius: .5rem;
    &:hover {
      background: #919090;
    }
    &:active {
      background: #b0b0b0;
    }
  }

  &__field {
    flex-grow: 1;
    height: 2rem;
    padding: .25rem;
    font-size: 1.1rem;
    border: 1px solid rgba(145, 145, 145, 0.51);
    border-radius: 5px;
  }

  &__field:focus {
    outline: solid 1px #444444;
  }

  &__label {
    font-size: .9rem;
    margin-bottom: .25rem;
  }
}