
.tabbed {
  display: flex;
  flex-direction: column;
}

.state,
.tabbed .content {
  display: none;
}

.tabbed .content {
  padding: 20px;
  background: #fff;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
nav {
  display: block;
}

.state:checked + .content {
  display: block;
}

.tab {
  padding: 15px 15px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  background: hsl(210,50%,50%);
  color: #eee;
}

.tab:nth-child(1) { border-left: 1px solid silver; }
.tab:hover { background: hsl(210,50%,40%); }
.tab:active { background: #ffffff; }

.state:checked ~ nav .tab {
  background: white;
  color: #111;
  position: relative;
  border-bottom: none;
}

.state:checked ~ .tab:after{
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  bottom: -1px;
}
