---
name: Pull Request
on:
  push:
    branches:
      - 'pr/*'

jobs:
  pull-request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: pull-request
        uses: repo-sync/pull-request@v2
        id: cpr
        with:
          destination_branch: "main"
          github_token: ${{ secrets.PAT }}
          pr_title: ${GITHUB_REF#refs/heads/}
          pr_body: ${{ github.event.head_commit.message }}
          pr_assignee: ${{ github.event.pusher.name }}

      - name: Enable Pull Request Automerge
        if: ${{ steps.cpr.outputs.pr_number > 0 }}
        uses: peter-evans/enable-pull-request-automerge@v1
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pr_number }}
          merge-method: merge
